
<section class="header">
  <div class="menu">
    <div class="logo"><img src="https://saigontours.asia/images/config/logo-saigontours-2020-goc_1596166839.png" alt="logo"></div>
    <div class="item"><a href="">Tour Trong Nuoc</a></div>
    <div class="item"><a href="">Tour Trong Nuoc</a></div>
    <div class="item"><a href="">Tour Trong Nuoc</a></div>
    <div class="item"><a href="">Tour Trong Nuoc</a></div>
    <div class="item"><a href="">Tour Trong Nuoc</a></div>
    <div class="item"><a href="">Tour Trong Nuoc</a></div>
  </div>
</section>

