
<section class="list-items">
  <div class="list-service">
    <div class="items">
      <span class="icon"><i class="fa fa-building" aria-hidden="true"></i></span>
      <span class="title">alo</span>
    </div>
    <div class="items">
      <span class="icon"><i class="fa fa-car" aria-hidden="true"></i></span>
      <span class="title">alo</span>
    </div>
    <div class="items">
      <span class="icon"><i class="fa fa-plane" aria-hidden="true"></i></span>
      <span class="title">alo</span>
    </div>
    <div class="items">
      <span class="icon"><i class="fa fa-id-card-o" aria-hidden="true"></i></span>
      <span class="title">alo</span>
    </div>
    <div class="items">
      <span class="icon"><i class="fa fa-bandcamp" aria-hidden="true"></i></span>
      <span class="title">alo</span>
    </div>
    <div class="items">
      <span class="icon"><i class="fa fa-headphones" aria-hidden="true"></i></span>
      <span class="title">alo</span>
    </div>
  </div>
</section>

